<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

    <nav class = "navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"> <font style = "horizontal-align: inherit;"> <font style = "horizontal-align: inherit;"> Gestion Chambre </font> </font> </a>
  <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "# navbarColor01" aria-controls = "navbarColor01" aria-extended = "false" aria-label = "Basculer la navigation ">
    <span class = "navbar-toggler-icon"> </span>
  </button>

  <div class = "collapse navbar-collapse" id = "navbarColor01">
    <ul class = "navbar-nav mr-auto">
      <li class = "nav-item">
        <a class="nav-link" href="#"> Enregistrer</a>
      </li>
      <li class = "nav-item">
        <a class="nav-link" href="/etudiant">Liste Etudiant</a>
      </li>
      <li class = "nav-item">
        <a class="nav-link" href="/chambre">Liste Chambre</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="container">
        {% block body %}
            <div class="img-fluid"> <img src="{{ asset('images/bg.jpg') }}" alt="Symfony!" /> </div>
        {% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
